@use "variables";

.footer_section {
    position: relative;
    bottom: auto;
    padding: 20px 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #000000;
    margin-top: 50px;
    small {
        display: block;
        padding: 1px 0;
    }
}

@media (max-width: variables.$sm) {
    .footer_section {
        padding: 15px 0;
        font-size: 0.7rem;
        margin-top: 30px;
    }
}
